<div
  class="z-index-1 bg-image"
  style="
    background-image: url('../../assets/images/bg_main.jpg');
    height : 100vh;
    background-size:100% 100%;
    background-repeat:no-repeat;
  "
>
  <div class="container">
    <h1 class="text-danger text-center p-2">REGISTER USER</h1>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="">First Name</label>
          <input type="firstName" class="form-control" placeholder="First Name" formControlName="firstName" />
        </div>

        <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
          <p *ngIf="firstName.errors?.required">First Name is required ...</p>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="">Last Name</label>
          <input type="lastName" class="form-control" placeholder="Last Name" formControlName="lastName" />
        </div>

        <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
          <p *ngIf="lastName.errors?.required">Last Name is required ...</p>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="">Email</label>
          <input type="email" class="form-control" placeholder="Email" formControlName="email" />
        </div>

        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
          <p *ngIf="email.errors?.required">Email is required ...</p>
          <p *ngIf="email.errors?.pattern">Please enter a valid email</p>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="">Password</label>
          <input type="password" class="form-control" placeholder="Password" formControlName="password" />
        </div>

        <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
          <p *ngIf="password.errors?.required">Password is required ...</p>
          <p *ngIf="password.errors?.minlength">Password should be atleast 6 characters</p>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary mt-3"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>
  </div>
</div>
