<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <img src="../../assets/images/bg_logo.jpeg" class="d-inline-block align-top img-fluid rounded-circle img-thumbnail" height="100" alt="">
    <h1 class="navbar-brand text-primary">
        सम्पूर्ण श्रीमद्‍भगवद्‍गीता
    </h1>

    
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item p-3">
            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="chapterList()">Chapter List</button>
          </li>
          <li class="nav-item p-3">
            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
          </li>			
        </ul>		  
    </div>
</nav>
