<app-header></app-header>
<div class="container">
    <h3 class="text-danger text-center p-1">{{ sloka.slokOriginal }}</h3>

    <h3 class="text-danger text-center p-1">{{ sloka.engTransliteration }}</h3>
</div>

<p class="text-success p-2">Meaning</p>
<div class="bg-secondary">
    <p class="text-warning p-2">{{ sloka.engMeaning }}</p>
    <p class="text-info p-2">{{ sloka.hindiMeaning }}</p>
</div>

<p class="text-success p-2">Word To Word Translation</p>
<div class="bg-secondary">
    <p class="text-warning p-2">{{ sloka.wordToWordMeaning }}</p>
</div>

<button class="btn btn-dark pt-2" (click)="slokList(sloka.chapterId)">Return to slok list</button>
