<div
  class="z-index-1 bg-image"
  style="
    background-image: url('../../assets/images/bg_main.jpg');
    height : 100vh;
    background-size:100% 100%;
    background-repeat:no-repeat;
  "
>
  <div class="container">
    <form [formGroup]="verifyPasswordForm" (ngSubmit)="submit()">
      <div class="form-row">
        <div class="col-md-4 mb-3 pt-5">
          <label for="">Enter the code</label>
          <input type="email" class="form-control" placeholder="Token" formControlName="token" />
        </div>

        <div class="alert alert-danger" *ngIf="token.touched && token.invalid">
            <p *ngIf="token.errors?.required">Please check your mail and enter the token</p>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="verifyPasswordForm.invalid">Submit</button>
      <div class="alert alert-danger" *ngIf="error != undefined && error.length > 0">
        <p>{{ error }}</p>
      </div>
    </form>
  </div>
</div>
